{% extends 'base.html'%}
{% block content %}
{% load static %}
    <table class="table table-hover">
        <tr>
            <td>文章标识</td>
            <td>文章标题</td>
            <td>文章内容</td>
            <td>文章作者</td>
            <td>操作  </td>

        </tr>
        {% for at in request.session.loginUser.article_set.all %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'blog:show_arcticle' at.id %}">{{at.title}}</a></td>
                <td>{{at.content | truncatechars:15}}</td>
                <td>{{at.author.nickname}}</td>
                <td>
                    <a class="button btn-sm btn-primary" onclick="return window.confirm('您确定要删除这篇文章吗？')" href="{% url 'blog:delete_article' at.id %}">删除</a>
                </td>
                <td>
                     <a class="button btn-sm btn-danger" href="{% url 'blog:update_article' at.id %}">修改</a>
                </td>
            </tr>



        {% empty %}
        <h2>对不起，目前没有文章！！！ <a href="{% url 'blog:add_article' %}">请发表文章</a></h2>
        {% endfor %}
    </table>
{% endblock %}