{% extends 'base.html'%}


{% block content %}
{% load static %}
    <div class="panel-heading">文章详情</div>
      <div class="panel-body">
         <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="text-center">
                      {{article.title | truncatechars:50}}
                  </h4>
                  <div class="text-right">
                          作者：{{article.author.nickname}}|
                          发表时间：{{article.publishTime}}|
                          修改时间：{{article.modifyTime}}
                  </div>
              </div>
              <div class="panel-body">
                  <!--筛选把html代码转换成格式-->
                {{article.content | safe}}
              </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}